<ion-view view-title="个人">
    <ion-header-bar class="barNav bar-dark">
        <a menu-toggle="left" class="button icon ion-navicon"></a>
    </ion-header-bar>
    <ion-content>
        <div class="person_top" style="background: url('images/bg7.jpg') no-repeat; height:125px; background-size: cover;">
            <img src="images/头像.jpeg " style="height: 100px; border-radius: 50%; border: 2px solid #eee; margin-left:40%; margin-top: 15px;">
        </div>
        <div class="person_box">
            <div class="person_item" style="border-left:3px solid #44A9F3; margin-left:100px; position:relative; padding:50px 0">
                <h3 style="width:60px; height:60px; text-align:center; line-height:60px;
                 border:3px solid #fff; background:#3083C0; color:#fff; font-size:18px; border-radius:50%; position:relative; left:-35px; margin-bottom:50px">2014</h3>
                <ul class="person_monthList">
                    <li style="margin-bottom:30px">
                        <dl style="position:relative">
                            <dt style="position:absolute; left:-90px; top:11px">2014.06.20<i style="position:absolute; height:20px; width:20px; background:#e4b9b9; border-radius:50%; left:79px; top:0"></i></dt>
                            <dd style="background:#ddd; padding:10px; margin-left:30px; margin-bottom:20px;">我加入了口袋</dd>
                        </dl>
                        <dl style="position:relative">
                            <dt style="position:absolute; left:-90px; top:11px">2014.07.07</dt>
                            <dd style="background:#ddd; padding:10px; margin-left:30px; margin-bottom:20px;">我在 <a class="ion-pin" style="color:#f0ad4e"> 这 里 </a>签到</dd>
                        </dl>
                        <dl style="position:relative">
                            <dt style="position:absolute; left:-90px; top:11px">2014.07.22</dt>
                            <dd style="background:#ddd; padding:10px; margin-left:30px; margin-bottom:20px;">我收藏了<span style="color: #d58512;">《霍乱时期的爱情》</span></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="person_item" style="border-left:3px solid #44A9F3; margin-left:100px; position:relative; padding:50px 0">
                <h3 style="width:60px; height:60px; text-align:center; line-height:60px;
                 border:3px solid #fff; background:#3083C0; color:#fff; font-size:18px; border-radius:50%; position:relative; left:-35px; margin-bottom:50px">2015</h3>
                <ul class="person_monthList">
                    <li style="margin-bottom:30px">
                        <dl style="position:relative">
                            <dt style="position:absolute; left:-90px; top:11px">2015.06.20<i style="position:absolute; height:20px; width:20px; background:#e4b9b9; border-radius:50%; left:79px; top:0"></i></dt>
                            <dd style="background:#ddd; padding:10px; margin-left:30px; margin-bottom:20px;">我在 <a class="ion-pin" style="color:#f0ad4e"> 这 里 </a>签到</dd>
                        </dl>
                        <dl style="position:relative">
                            <dt style="position:absolute; left:-90px; top:11px">2015.06.07</dt>
                            <dd style="background:#ddd; padding:10px; margin-left:30px; margin-bottom:20px;">我收藏了<span style="color: #d58512;">《北京折叠》</span></dd>
                        </dl>
                        <dl style="position:relative">
                            <dt style="position:absolute; left:-90px; top:11px">2015.07.18</dt>
                            <dd style="background:#ddd; padding:10px; margin-left:30px; margin-bottom:20px;">我收藏了<span style="color: #d58512;">《猜猜我有多爱你》</span></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="person_item" style="border-left:3px solid #44A9F3; margin-left:100px; position:relative; padding:50px 0;">
                <h3 style="width:60px; height:60px; text-align:center; line-height:60px;
                 border:3px solid #fff; background:#3083C0; color:#fff; font-size:18px; border-radius:50%; position:relative; left:-35px; margin-bottom:50px">2014</h3>
                <ul class="person_monthList">
                    <li style="margin-bottom:30px">
                        <dl style="position:relative">
                            <dt style="position:absolute; left:-90px; top:11px">2016.01.20<i style="position:absolute; height:20px; width:20px; background:#e4b9b9; border-radius:50%; left:79px; top:0"></i></dt>
                            <dd style="background:#ddd; padding:10px; margin-left:30px; margin-bottom:20px;">我收藏了<span style="color: #d58512;">《时光.本草》</span></dd>
                        </dl>
                        <dl style="position:relative">
                            <dt style="position:absolute; left:-90px; top:11px">2016.06.07</dt>
                            <dd style="background:#ddd; padding:10px; margin-left:30px; margin-bottom:20px;">我收藏了<span style="color: #d58512;">《愿所有美好如期而至》</span></dd>
                        </dl>
                        <dl style="position:relative">
                            <dt style="position:absolute; left:-90px; top:11px">2016.07.22</dt>
                            <dd style="background:#ddd; padding:10px; margin-left:30px; margin-bottom:20px;">我收藏了<span style="color: #d58512;">《岛上书店》</span></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>